name: Autograding Tests
on:
  - push
  - workflow_dispatch
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read

jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Finished workshop
      id: exercise1
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: "Finished workshop"
        command: "chmod +x submissions/done.sh && submissions/done.sh"
        expected-output: "PASS"
        comparison-method: exact
        timeout: 10
        max-score: 10
    
    # Report results
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        EXERCISE1_RESULTS: "${{ steps.exercise1.outputs.result }}"
      with:
        runners: exercise1
